$primary-purple: #3b1568;
$primary-yellow: #f5ac4e;
$primary-red: #940700;
$dark-red: #bb280f;
$light-red: #dd4224;
$light-purple: #813cb3;
$primary-font: Helvetica;

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(251, 251, 251);
  align-items: center;
  font-family: Helvetica, sans-serif;
  color: $primary-purple;
}

main {
  flex-wrap: wrap;
  width: 100vh;
  padding: 5%;
}

.nav-bar {
  a {
    color: $primary-purple;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(235, 235, 235);
  padding: 3%;
  border-radius: 20px;

  #home {
    justify-self: right;
  }
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 20px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  max-height: 30px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;

  color: #fff;
  background-color: $primary-red;
  height: 48px;
  :hover {
    transform: scale(1.04);
    background-color: $light-red;
  }
}

input {
  border: 3px solid $primary-red;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  min-width: 160px;
}

.home-page {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.solid {
  margin-top: 5%;
  border-top: 2px solid lightgray;
  min-width: 5vh;
}
